:root{
    --navBGColor: rgb(0, 166, 255);
}

.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 20px;
}

article{
    margin: 20px;
}

h1{
    text-align: center;
    color: white;
}

div{
 
    background-color: var(--navBGColor);
    position: sticky;
   
 
    
}

a:hover{
    background-color: rgba(0, 166, 255, 0.446);
}

a{
    display: inline-block;
    background-color: var(--navBGColor);
    padding: 20px;
    width: 120px;
    margin: 0;
    text-decoration: unset;
}