*{
    box-sizing: border-box;
}

:root{
    --color1: rgb(24, 102, 28);
    --color2: rgb(61, 206, 61);
}

body{
    font-size: 20px;
    color: white;
}

.items{   
    display: flex;
}

.items > div{
    background-color: green;
    margin: 2px;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
}

.items .items > div{
    background-color: lightgreen;
}




