:root{
    --BGColor: rgb(183, 216, 239);
    
    --defaultTextColor:#FFF;
    --symbolTextColor: #000;
    
    --boxShadowColor: black;
    
    --calulatorBGColor: #145DA0;
    --defaultButtonColor: #0C2D48;
    --equalSignColor: #2E8BC0;
    --symbolColor: #B1D4E0;
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--BGColor);
  font-size: 30px;
  text-align: center;
  color: var(--defaultTextColor);
}

.calculator-outline {
  width: fit-content;
  margin: auto;
  background-color: var(--calulatorBGColor);
}

.flex {
    width: unset;
  display: flex;
  flex-wrap: wrap;
  box-shadow: unset;
  padding: 0;
}

.flex-grow-xlarge {
  flex-grow: 3;
  text-align: end;
}

div {
  box-shadow: 3px 3px 3px var(--boxShadowColor);
  padding: 10px;
  border-radius: 10px;
  
}

.calculator-outline div:nth-child(1) div:nth-child(1) , .flex div:nth-child(4){
    background-color: var(--symbolColor);
    color: var(--symbolTextColor);
}

.calculator-outline div:nth-child(5) div:nth-child(3){
    background-color: var(--equalSignColor);
    color: var(--symbolTextColor);
}


.flex div{
    width: calc(300px/ 4);
    height: 55px;
    margin: 10px;
    background-color: var(--defaultButtonColor);
}