*{
    box-sizing: border-box;
}

@keyframes changeColor {
    0%{ color: red; background-color: aqua; font-family: 'Courier New', Courier, monospace;}
    50%{ color: orange;}
    100%{ color: aqua;}
    
}

.title{
    animation: changeColor 6s infinite;
    color: black;
}


div{
    height: 500px;
    width: 500px;
    background-color: aqua;
    margin: 10px;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.rotate:hover{
    transform: rotate(25deg);
}


.move:hover{
    transform: translate(10px, 10px);
    background-color: bisque;
}