:root {
  --BGcolor: rgba(62, 193, 195, 0.235);
  --mainTextColor: black;
  --secondaryTextColor: rgba(84, 85, 85, 0.5);
  --thirdTextColor: rgba(0, 0, 0, 0.862);
  --forthTextColor: rgba(194, 33, 170, 0.9);
  --borderColor: rgb(0, 0, 0);
  --secondaryBorderColor: rgb(67, 89, 232);
  --h2Color: gray;
}

/* Clases */

.center {
  margin: auto;
  width: 50%;
  border: 3px solid var(--secondaryBorderColor);
  padding: 10px;
}

.border {
  border: solid 3px var(--borderColor);
}

.margin {
  margin: 30px;
}

.auto-margin-center {
  margin: auto;
  width: 50%;
}

.default-padding {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.text-padding{
    padding-left: 10px;
    padding-right: 10px;
}

/* tags */

body {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--BGcolor);
  color: var(--mainTextColor);
}

header {
  font-weight: 1200;
  font-size: 60px;
  color: var(--thirdTextColor);
  font-family: "Updock", cursive;
}

article{
  width: 800px;
  overflow: auto;
}

article p span{
  color: red;
}

article p span:hover{
  color: brown;
}

article p span::before{
  content: "{";
}

article p span::after{
  content: "}";
}

figcaption {
  color: var(--forthTextColor);
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
}

figcaption:hover{
  font-size: larger;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2:hover{
opacity: 0.7;
}

h2 {
  font-weight: 900;
  text-decoration: underline;
  color: var(--h2Color);
}

ol li:nth-child(even), ol li a:nth-child(even){
  color:var(--forthTextColor);
  background-color: rgb(198, 198, 198);
}

ol li:nth-child(odd) , ol li a:nth-child(odd){
  background-color: rgb(130, 128, 128);
}

ol li:hover, ol li a:hover{
  color: coral;
  font-size: larger;
}

ol li:active, ol li a:active{
  color: blueviolet;
}

li::before{
  content: "<";
}
li::after{
  content: ">";
}
img {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

