*{
   box-sizing: border-box; 
}


h1{
    color: yellow;
    font-size: 50px;
}

div{
    background-color: green;
    width: 600px;
    text-align: center;
   margin: auto;
   padding: 20px;
   border: solid 2px black;

}

table, tr, th, td{
    border: solid 1px white;
    border-collapse: collapse;
    margin: 2px;  
    padding: 20px;
    
}
th{
font-size: 35px;
height: 100px;
}
th,td{
    width: 300px;
}

table{
    color: wheat;
}


thead{
    color: white;
}
tr:nth-of-type(even){
    border-top: solid 3px white ;
}