* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.page {
  display: grid;
  grid-template-columns: repeat(5, 400px);
  grid-template-rows: repeat(4, 25vh);
 
}
.page > *{
  background-color: aliceblue;
  border: solid 1px;
  background-image: url(https://i.pinimg.com/originals/a0/6d/70/a06d70d4f39f84b6ed0de5d6a52d7e7f.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  padding: 30px;
}

.article {
  grid-row: 1/span 2;
  filter: none;
  background-image: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}

h1, ol, ul{
  margin: 30px;
}
span{
  color: red;
}
li{
  margin-top: 10px;
  border-bottom: solid red 1px;
  
}



.article div:nth-child(1){
  background-color: rgb(225, 223, 100);
}

.article div:nth-child(2){
  background-color: rgb(193, 37, 37);
  color: white;
}



.big-content {
  background-image: url(https://wallpaperaccess.com/full/220675.jpg);
  grid-area: 2/ 2 / span 2 / span 2;
  
}

.mid-content1 {
  grid-area: 2/ 4 / span 2 / span 2;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE2XZqLuHZjljWiLRZiHB_jCE5Szu_2GfgKw&usqp=CAU);
  background-position: left;
  background-repeat: repeat;
  background-size:contain;
  object-fit: cover;
}

.mid-content2 {
  grid-area: 2/ 5 / span 2 / span 1;
}

h2{
  color: white;
  filter: none;
}

p{
  color: aqua;
  
  
}