<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    
     <div>
         <h1>Block Elements</h1>
         <p>This is a paragraph</p>
         <p>This is a paragraph</p>
     </div>

     <div>
         <h1>Inline Elements</h1>
         <span>This is span</span>
         <a href="">Dead anchor</a>
     </div>

     <article>
         <p>Lorem <span class="lorem">ipsum</span> dolor sit amet consectetur adipisicing elit. 
             Minima nemo sit odit ratione laudantium eveniet, animi deleniti eum atque nesciunt explicabo ullam ducimus a amet illum, quidem saepe, fugit molestias?</p>
     </article>

</body>
</html>